/* ------------------------------------------------------------
   version:	基本样式表1.0
	author:	时代财富
   content: 日历、日历控件样式
	create:	2015-09-02
------------------------------------------------------------ */


.Mdate {
	background: #fff url(../images/date/date_icon.png) no-repeat right;
}