
/*步骤导航条 style start*/
.stepNav{width: 1160px;height:40px;line-height: 40px;overflow: hidden; position: relative}
.stepNav ul{width: 1160px;height: 40px;background:url(../images/step1.png) no-repeat center center}
.stepNav ul li{font-size: 16px;line-height: 40px; }
.stepNav ul li.stepNav_ul_color1{color: #FFF;font-size: 14px;font-weight: bold;font-family: SimSun}
.stepNav ul li.stepNav_ul_color2{color: #888888;font-size: 14px;font-weight: bold;font-family: SimSun}
.stepNav ul li.stepNav_ul_list1{width: 251px;padding-left: 25px;text-align: center;height: 40px}
.stepNav ul li.stepNav_ul_list2{width: 114px;text-align: center;height: 40px}
.stepNav ul li.stepNav_ul_list3{width: 251px;text-align: center;height: 40px}
a:hover{text-decoration: none}
.stepNav span{
    position: absolute;
    width: 33px;
    top: 0px;
    height: 100%;
    background: #d7d7d7;
    right: 366px;
}
/*步骤导航条 style end*/
.pbd_table_form td {
    vertical-align: middle;
    line-height: 42px;
}
.pbd_table_form td{
    vertical-align: middle;
    line-height: 42px;
    position: relative;
}
.first_td {
    width: 225px;
}
.pbd_table_form_filter {
    background: #F7FAFD;
    /* border: 1px solid #F1F5F9; */
}
.pbd_table_form_filter table td {
    border: 1px solid #F1F5F9;
}
.pbd_form_txt {
    width: 218px;
    height: 25px;
    padding: 0 5px;
    border: 1px solid #C5C5C5;
    background-color: #FFF;
}
._red{color: #ff0000}
.pbd_table_form td .radio {
    margin-left: 10px;
    vertical-align: inherit;
}
.pbd_input {
    width: 565px;
    height: 17px;
    line-height: 20px;
    padding: 4px 9px;
    border: 1px #c5c5c5 solid;
}
._tbBg{background:#f7fafd none repeat scroll 0% 0%}
.tbBorder-right{border-right: 1px solid #C5D7E8}
.tbBorder-bottom{border-bottom: 1px solid #C5D7E8}
.logon_se{
    margin-left: 10px;
    color: #0066B3;
    position:relative;
    cursor: pointer;
}

.upload_item{
    position: absolute;
    width: 151px;
    padding: 10px 5px;
    background-color: #EAF5FE;
    border: 1px solid #62A7E3;
    border-radius: 3px;
    color:#3f3f3f;
    text-align: left;
    font-family: SimSun;

    font-weight: 500;
    top: -91px;
    right: 183px

}
.upload_item_child{
    background: url(../images/ip_tip_arrow.png) no-repeat -7px 0px;
    width: 9px;
    height: 5px;
    margin-left: 9px;
    position: relative;
    top:15px;
}
.panel_title_nuember {
    background-color: #1889D0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    font-family: arial;
    display: inline-block;
}
.message{
    height: 40px;
    width: 1158px;
    margin-top: 15px;
    line-height: 40px;
    font-size:14px;
    font-weight: bold;
    border-radius: 3px;
    background:#f4f6fd;
    color: #2c2c2c;
    border: 1px solid #EAE9E9;
}
.message span{
    display: inline-block;
    background: transparent url("../images/table/num_ico.png") no-repeat scroll left top;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;

    font-weight: bold;
    margin-left: 10px;
}

.message_logo_1{
    background: url(../images/u1669.png);
}
.message_logo_2{
    background: url(../images/u1673.png);
}
.message_logo_3{
    background: url(../images/u1677.png);
}
.Lg_other input{float: left}
.Lg_other span{
    width: 24px;
    height: 19px;
    float: left;
    margin-left:10px;
    margin-top: 5px;
    display: inline-block;
    background: url(../images/u40.png) no-repeat;
}
.Lg_other a{
    float: left;
    line-height: 30px;
    margin-left: 10px;
    color: #0066b3;
    cursor: pointer;
    display: inline-block;

}

.pbd_table_form1 th{
    vertical-align: middle;
    line-height: 34px;
    background: #c8e0f5;
    font-weight: bold;
    position: relative;
}
.pbd_table_form1 th b{
    display: block;
    height: 100%;
    width: 99.8%;
    position: absolute;
    top: 0px;

    border-top: 1px solid #FFF;
}
.pbd_table_form1 th b.lt{
    border-left: 1px solid #FFF;
}
.pbd_table_form1 th b.rt{
    border-right: 1px solid #FFF;
}

.pbd_table_form1 tr.odd {
    cursor: pointer;
    background: #f7fafd;
}
.div_btn{
    width: 100%;
    height: 65px;
    line-height: 65px;
    margin: 15px 0px 50px 0px;
    text-align: center;
}
.success_item{
    margin-top: 30px;
    padding-top: 13px;
    height: 115px;
    border: 1px solid #f2f4f9;
    background-color: #F7FAFD;
}
.success_item dt{
    width: 100%;
    height: 100px;
}
.success_item dt{
    width: 192px;
    overflow: hidden;
    position: relative;
}
.success_item dt span{
    position: absolute;
    right: 0;
    top: 14px;
    width: 64px;
    height: 64px;
    background: url(../images/feedback_icon.png) no-repeat;
    background-size: 100%;
}
.success_item dd{margin-left: 20px}
.success_item dd p{
	margin-bottom: 5px;
    margin-top: 15px;
    font-weight: bold;
}
.success_item dd  span{
    display: block;
    line-height: 25px;
}
.success_item dd label{font-weight: bold}
.handle{height: 40px;line-height: 40px;background-color: #f7fafd;margin-top: 20px;text-indent: 10px}
.handle a{color: #0066b3;cursor: pointer}
.rid input{
    width: 14px;
    height: 14px;
    opacity: 0;
    z-index: 100;
    top: 10px;
    left: 10px;
    cursor: pointer;
    position: absolute;
}
.handle a{color: #0066b3;cursor: pointer}
.rid a{
    border: none;
    width: 14px;
    height: 15px;
    display: block;
    top: 10px;
    left: 30px;
    cursor: pointer;
    position: absolute;
    background: url(../images/icon_47.png) no-repeat;
}
.rid a.select{
    background: url(../images/icon_09.png) no-repeat;
}
.file {
    position: absolute;
    top: 4px;
    z-index: 11;
    right: 264px;
    height: 40px;
    filter: alpha(opacity:0);
    opacity: 0;
    width: 60px;
}
.hover_bg {
    z-index: 9999;
    background: #999;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    height: 718px;
    width: 1349px;
}
.jindu_bar {
    width: 480px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -120px;
    border: 1px solid #1F93D5;
    background: #fff;
    z-index: 10000;
}
#msg_tit {
    position: absolute;
    left: 190px;
    top: 60px;
    display: inline-block;
    color: #229EE6;
    font-size: 16px;
}
.barline {
    float: left;
    width: 300px;
    background: #ccc;
    border: 1px solid #C5C5C5;
    height: 10px;
    display: inline-block;
    border-radius: 4px;
    display: none;
    position: absolute;
    left: 67px;
    top: 100px;
}
#perc {
    position: absolute;
    left: 375px;
    top: 96px;
    color: #229EE6;
    font-size: 14px;
}
#msg_btm {
    position: absolute;
    left: 180px;
    top: 130px;
    display: inline-block;
    color: #229EE6;
    font-size: 14px;
}
.jindu_btn {
    position: absolute;
    left: 180px;
    top: 160px;
}
/*选择按钮 start*/
.btn_select{
    text-align:left;
    height: 65px;
    padding-left: 195px;
    line-height: 65px;
    margin:15px 0px 50px 0px ;
}
#sk_common{
    height: 70px;
    background: #f6f6f6;
    padding-right: 20px;
}
.blue:hover{text-decoration: underline;}